<h1> Property tables will go here </h1>
<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:owners] %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%=v.text_field :value %>
      <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<% @properties.each do |property| %>
  <%= property.apn %>
  <%= property.owners[0].name %> <br >
<% end %>