<h1> Property tables will go here </h1>
<%= search_form_for @search, :html=>{:class=>'form-inline'} do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="field form-group">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:owners], :class=>'form-control'%>
      <% end %>
      <%= c.predicate_select ({only: [:cont, :not_cont, :eq, :not_eq, :blank, :null, :not_null]})%>
      <%= c.value_fields do |v| %>
        <%=v.text_field :value, :class=>'form-control' %>
      <% end %>
    </div>
  <% end %>
  <div class="actions form-control"><%= f.submit "Search", :class=>'btn btn-default'%></div>
<% end %>

<table class="table">
  <tr>
    <th><%= sort_link @search, :apn ,"APN"%></th>
    <th><%= sort_link @search, :owners,"Primary Owner" %></th>
    <th><%= sort_link @search,:acres,"Acres"%></th>
    <th><%= sort_link @search,:GIS_acres,"GIS Acres"%></th>
    <th><%= sort_link @search,:build_Acres,"Build Acres"%></th>
    <th><%= sort_link @search,:year_sold,"Year Sold"%></th>
    <th><%= sort_link @search,:sale_price,"Sale Price"%></th>
    <th><%= sort_link @search,:assesment ,"Assesment"%></th>

  </tr>
  <% @properties.each do |property| %>
  <tr>
    <td><%= property.apn %></td>
    <td><%=property.owners[0].name%></td>
    <td><%= property.acres %></td>
    <td><%= property.GIS_acres %></td>
    <td><%= property.build_acres %></td>
    <td><%= property.year_sold %></td>
    <td><%= property.sale_price %></td>
    <td><%= property.assesment %></td>

    <td><%= link_to 'view' , property_path(property.id)%></td>
  </tr>
  <% end %>
</table>