<div class ='row'>
  <h3> Property Details</h3>
  <div class="col-md-6">
    <h4> APN </h4>
    <p> <%= @property.apn %></p>
    <h4> Acres </h4>
    <p> <%= @property.acres %></p>
    <h4> GIS Acres </h4>
    <p> <%= @property.GIS_acres %></p>
    <h4> Build Acres </h4>
    <p> <%= @property.build_acres %></p>
    <h4> Year Sold </h4>
    <p> <%= @property.year_sold %></p>
    <h4> Sale Price </h4>
    <p> <%= @property.sale_price %></p>
    <h4> Assesment </h4>
    <p> <%= @property.assesment %></p>

    <%= link_to "Update", edit_property_path(@property)%>

  </div>
  <h3> Property Location</h3>
  <div id='map' class='dark col-md-6'></div>

</div>
  <script type='text/javascript'>
    var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
  </script>

